<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <div class="container">
      <h1>My Blog</h1>
      <a class="new" href="/new">New Post</a>
      <ul id="postsList">
        <% posts.forEach(post=> { %>
          <li>
            <h2>
              <%=post.title%>
            </h2>
            <h5>
              <%=post.date %>
            </h5>
            <p>
              <%=post.content%>
            </p>
            <h5>By: <%=post.author%> </h5>
            <a class="edit" href="/edit/<%= post.id %>">Edit</a>
            <a class="delete" href="/api/posts/delete/<%= post.id %>">Delete</a>
          </li>
          <% }); %>
      </ul>
    </div>
  
  </body>
</html>